@import "bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
  font-family: "Roboto Slab", serif;
  min-height: 100%;
}

.footer {
  padding: 5em;
}

.jumbotron {
  background: url(asset_path("cover-image.jpg")) no-repeat center center fixed;
  background-size: cover;
  color: #523636;
  min-width: 100%;
  border-radius: 0px;
  margin-bottom: 0px;
  min-height: 100vh;
}

.jumbotron-title {
  text-align: center;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.jumbotron-text {
  color: white;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.75);
}

.generic-title {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: 3px solid white;
}

.generic-button {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.5em;
  color: white;
  border: 3px solid white;
  border-radius: 0.25rem;
}

.generic-button:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
  border-color: #007bff;
  border-radius: 0.25rem;
}

.generic-button-secondary {
  background-color: rgba(180, 180, 180, 0.25);
  padding: 0.25em;
  color: white;
  border: 3px solid white;
  border-radius: 0.25rem;
}

.generic-button-secondary:hover {
  background-color: rgba(180, 180, 180, 0.45);
  color: white;
  text-decoration: underline;
  border-color: #007bff;
  border-radius: 0.25rem;
}

.generic-container {
  background-color: #bababa;
}

.generic-card {
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border: 3px white solid;
}

.card-header {
  border-bottom: 2px white solid;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert {
  margin: 0;
  border-radius: 0;
}

.log-in-cover {
  background: url(asset_path("login-image.jpg")) no-repeat center center fixed;
  background-size: cover;
  min-width: 100%;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border: 3px solid #007bff;
}

.sign-up-cover {
  background: url(asset_path("sign-up-cover")) no-repeat center center fixed;
  background-size: cover;
  min-width: 100%;
}

.activity-cover {
  background: url(asset_path("new-activity-cover")) no-repeat center center
    fixed;
  background-size: cover;
  min-width: 100%;
}

.edit-profile-cover {
  background: url(asset_path("edit-profile-cover")) no-repeat center center
    fixed;
  background-size: cover;
  min-width: 100%;
}

.profile-subtitle {
  font-size: 14px;
  display: inline;
}
