<h1>Editing Activity</h1>

<%= render 'form', activity: @activity %>

<%= link_to 'Show', @activity %> |
<%= link_to 'Back', activities_path %>
<%= link_to 'Delete activity', @activity, method: :delete, data: { confirm: 'Are you sure?' } %>
