<div class="container-fluid activity-cover p-5">
    <div class="container text-center generic-title justify-content-center">
        <h1>Edit Activity</h1>
    </div>

    <%= render 'form', activity: @activity %>

    <div class="row justify-content-center">
            <%= link_to 'Delete activity', @activity, method: :delete, data: { confirm: 'Are you sure?' }, class: "generic-button" %>
    </div>
</div>
